.login-box {
  margin-left: 37%;
  margin-right: 70%;
  margin-top: 20px;
}

.email, .password {
  margin-bottom: 15px;
  width: 350px;
  height: 40px;
}

.entrar {
  width: 80px;
  height: 35px;
  margin-left: 150px;
}

