<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="" class="logo"></a>
    <div>
      <div class="superior">
      <img class= "logo" src="../assets/img/logo.png">
      <p class="link">Faça seu <a>LOGIN</a> ou <br>crie seu <a>CADASTRO</a></p>
    </div>
    <div class="meio">
      <input class="pesquisa"><img class="pesquisar">
    </div>
    <div class="inferior">
      <p>ola</p>
    </div>
  </div>
  </header>
</body>
</html>
