<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="superior">
          <a href="" class="logo"></a>
          <img class="logo" src="../assets/img/logo.png" />
          <img class="sair" src="../assets/img/sairIcon.png" />
          <p class="link">
            Faça seu <a class="login" href="login">LOGIN</a> ou <br />crie seu
            <a class="cadastro" href="user">CADASTRO</a>
          </p>
        </div>

        <div class="meio">
          <img class="menuSuspenso" src="../assets/img/menu.png" />
          <div class="box">
            <div><input/><img class="pesquisar" /></div>
            <div><img src="../assets/img/lupa.png" /></div>
          </div>
          <img class="favoritos" src="../assets/img/favorito.png" />
          <img class="carrinho" src="../assets/img/carrinho-carrinho.png" />
        </div>

        <div class="inferior">
          <div class="categoria">
            <img class="categorias" src="../assets/img/categorias.png" />
            <p class="departamentosLabel">Departamentos</p>
          </div>
          <div class="categoria">
            <img class="promocoes" src="../assets/img/promocoes.png" />
            <p class="promocoesLabel">Promoções</p>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
