<div class="box-cadastro">
  <form class="form-box" [formGroup]="form" (ngSubmit)="register()">
    <div class="radio">
        <input
        class="pessoaFisica"
        formControlName="role"
        type="radio"
        name="role"
        value="USER"
        /> Pessoa física
        <input
        class="pessoaJuridica"
        formControlName="role"
        type="radio"
        name="role"
        value="ADMIN"
        /> Pessoa jurídica
    </div>
    <input
      class="login"
      formControlName="login"
      placeholder="Nome"
      type="text"
      maxlength="64"
    />
    <input
    class="cpfCnpj"
    formControlName="cpfCnpj"
    placeholder="Documento"
    type="text"
    />
    <input
    class="telefone"
    formControlName="telefone"
    placeholder="Telefone"
    type="text"
    />
    <input
      class="password"
      formControlName="password"
      placeholder="password"
      type="password"
      minlength="8"
    />

    <button type="submit" [disabled]="!form.valid" class="cadastrar">Cadastrar</button>
  </form>
</div>
